@import 'colors.scss';

@font-face {
  font-family: SC Prosper Sans Variable;
  font-style: normal;
  font-display: swap;
  src: url(https://av.sc.com/assets/global/fonts/new/SCProsperSansVariable-VF.woff2) format('woff2'),
    url(https://av.sc.com/assets/global/fonts/new/SCProsperSansVariable-VF.woff) format('woff'),
    url(https://av.sc.com/assets/global/fonts/new/SCProsperSansVariable-VF.ttf) format('truetype');
}

.sc-wi-search-results {
  @include sc-sub-sup-fix;

  width: 100%;
  position: relative;
  background: #fafafa;
  font-family: SC Prosper Sans Variable;

  button,
  input,
  textarea {
    font-family: SC Prosper Sans Variable;
  }

  &__banner {
    height: 300px;
    position: relative;

    img {
      height: 300px;
      width: 100%;
    }
  }

  &__search-box {
    width: 100%;
    max-width: 1404px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__input-container {
    margin: 0 auto;
    background: $color-white;
    border-radius: 50px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.15);
    position: relative;
    width: 90%;
    transition: border-radius 0.5s ease, border-shadow 0.5s ease, border 0.5s ease;

    &.active {
      border-radius: 6px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      
    }
  }

  &__input {
    width: 100%;
    border: none;
    height: 45px;
    border-radius: 50px;
    padding: 0px 90px 0px 45px;
    font-size: 20px;
    font-weight: 400;
    transition: border-radius 0.5s ease, padding-right 0.5s ease;

    &.active {
      padding-right: 120px;
      border-radius: 20px 20px 0 0;
      border-bottom: 1px solid $color-grey-light-2;
    }
  }

  &__input:focus {
    outline: none;
  }

  &__actions {
    justify-content: end;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -43px;
  }

  &__clear {
    display: none;
    position: relative;
    top: 12.7px;
    right: 0px;
    height: 40px;
    cursor: pointer;
    color: $color-black;

    &.active {
      display: block;
    }

    & svg {
      background: $color-grey-light-13;
      border-radius: 50px;

      & path:first-child {
        fill: $color-white;
      }

      & path:last-child {
        fill: transparent;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 6px 0 0;
    border: none;
    height: 35px;
    padding: 0 20px;
    border-radius: 50px;
    background: $color-blue-16;
    color: $color-white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: display 0.5s ease;
  }

  &__prefix {
    position: absolute;
    border: none;
    background: none;
    top: 11px;
    left: 16px;
    padding: 0;

    & svg {
      height: 24px;
      width: 24px;
    }
  }

  &__result-suggestions {
    max-height: 0px;
    transition: max-height 0.4s ease;

    &.active {
      max-block-size: 200px;
      overflow-y: scroll;
      border-top: 1px solid #F8F8F8;
      position: relative;
      z-index: 99;
      margin-top: 3px;
    }

    & li {
      padding: 10px;
      transition: background-color 0.6s ease;

      &:hover {
        background-color: $color-grey-light-2;
      }

      & a {
        color: $color-black;
        white-space: pre-wrap;
      }
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 53.2px;
    text-align: center;
    color: $color-white;
  }

  &__result-counter {
    display: inline-block;
    transition: opacity 0.5s, transform 0.5s;
  }

  &__result-counter.updating {
    opacity: 0;
    transform: translateY(-10px);
  }

  &__highlight {
    background-color: #ffface;
  }

  &__articles {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-container {
      width: 100%;
    }

    &-main {
      display: flex;
      flex-direction: column;
      gap: 40px;
      overflow: hidden;
      opacity: 1;
      transition: max-height 0.5s ease, opacity 0.5s ease;

      &.hidden {
        width: 0;
        max-height: 0;
        opacity: 0;
      }

      & h3 {
        margin: 0;
        font-weight: 600;
        font-size: 24px;
        line-height: 31.92px;
        color: #191919;
      }
    }

    &-list {
      padding: 0 16px;
      max-width: 1404px;
      margin: 60px auto 0;
    }

    &-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-article {
      display: flex;
      flex-direction: row;
      gap: 24px;
      max-height: 700px;

      &-left {
        a {
          & img {
            min-width: 356px;
            max-width: 356px;
            height: 230px;
            border-radius: 5px;
          }
        }
      }

      &-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
      }

      &-body {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      &-tags {
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        row-gap: 15px;
        flex-wrap: wrap;

        & span {
          opacity: 1;
          color: #191919;
          transition: opacity 0.5s ease;
          background: #e8f3ec;
          min-height: 20px;
          padding: 4px 6px;
          border-radius: 5px;
          font-size: 12px;
          font-weight: 500;
          line-height: 15.96px;
          text-align: left;
          align-content: center;

          &:hover {
            // opacity: 0.7;
            cursor: pointer;
            transition: 0.7s all linear;
            background-color: #d3ddd7;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            // cursor: pointer;
          }

          // & span {

          // }
        }
      }

      &-title-and-meta {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      &-meta-data {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: #555;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.62px;
        text-align: left;
        flex-basis: 50%;
        flex-grow: 0;

        & span:nth-child(2) {
          content: ' ';
          border-right: 1px solid #555;
          height: 14px;
          margin: auto 0;
        }
      }

      &-footer {
        display: flex;
        flex-direction: row;
        gap: 107px;

        &-read-more {
          display: flex;
          flex-direction: row;
          align-items: center;

          & a {
            color: $color-blue-16;
            font-weight: 400;
          }
        }
      }
    }

    &-separator {
      border-top: 1px solid #cccbcb;
      width: 100%;
    }

    & h4 {
      font-size: 24px;
      font-weight: 600;
      line-height: 31.92px;
      text-align: left;
      margin: 0;

      & a {
        color: #191919;
      }
    }

    & p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      overflow: hidden;
    }
  }

  &__vertical-separator {
    border-left: 1px solid #cccbcb;
  }

  &__popular {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-articles {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &-article {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 251px;
      transition: max-height 0.5s ease-out, opacity 0.5s ease-out, padding 0.5s ease-out,
        margin 0.5s ease-out;
      max-height: 3000px;
      opacity: 1;
      padding: initial;
      margin: initial;
      background-color: $color-white;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 6px;

      & h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 21.28px;
        text-align: left;
        margin: 0;
        padding: 0 16px;

        & a {
          color: #191919;
        }
      }

      a {
        & img {
          width: 251px;
          height: 200px;
          object-fit: cover;
          border-top-right-radius: 24px;
          border-top-left-radius: 6px;
        }
      }

      &-footer {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: #555;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.62px;
        text-align: left;
        padding: 0 16px 24px 16px;

        & span:nth-child(2) {
          content: ' ';
          border-right: 1px solid #555;
          height: 12px;
          margin: 2px 0;
        }
      }
    }

    & h3 {
      margin: 0;
      font-weight: 600;
      font-size: 24px;
      line-height: 31.92px;
    }
  }

  &__campaing-article-footer {
    display: block;
    text-align: left;
    padding: 0 16px 24px 16px;

    p {
      margin-top: 0;
      font-size: 14px;
      margin-bottom: 16px;
      line-height: 18.62px;
    }

    a {
      font-size: 14px;
      font-weight: 500;
      color: #2772c7;
    }
  }

  &__date,
  &__read-time {
    color: #555;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.62px;
    text-align: left;
  }

  &__more {
    margin-top: 10px;
    border-radius: 50px;
    background: #2772c7;
    border: 1px solid #2772c7;
    color: #fff;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    width: 121px;
    align-content: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__pagination {
    margin: auto;
    padding: 55px 0 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;

    max-height: 300px;
    overflow: hidden;
    opacity: 1;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;

    &.hidden {
      width: 0;
      max-height: 0;
      opacity: 0;
      padding: 0;
    }

    &-prev,
    &-next {
      min-height: 34px;
      min-width: 38px;
      padding: 8px 7px 5px;
      border-radius: 8px;
      background: none;
      color: #000;
      border: none;
      cursor: pointer;

      &-inactive {
        color: #ccc !important;
        cursor: default !important;
      }
    }

    &-no-cursor {
      cursor: default !important;
    }

    &-number,
    &-separator {
      font-size: 13px;
      font-weight: 400;
      min-height: 34px;
      min-width: 34px;
      padding: 8px 5px 5px;
      border-radius: 8px;
      background: #fff;
      color: #000;
      border: 1px solid #f1f1f1;
      cursor: pointer;

      &-active {
        background: #2772c7;
        border: 1px solid #2772c7;
        color: #fff;
      }
    }

    &-separator {
      border: none;
    }
  }

  &__btns {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 16px;

    &.apply-filter {
      color: #ffff;
      background-color: #2772c7;
      padding: 9.5px 91.5px;
      border-radius: 27px;

      @media (min-width: 700px) {
        padding: 9.5px 115px;
      }
    }

    &.clear-all-btn {
      display: none;
    }

    &.reset-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      color: #2772c7;
      background-color: #ffff;
      border: 1px solid #2772c7;
      padding: 9.5px 20px;
      border-radius: 27px;

      svg {
        color: #2772c7;
      }
    }

    &.all-btn,
    &.modal-btn {
      padding: 0.25rem 0.6rem;
      border-radius: 1rem;
      font-size: 16px;
      border: 2px solid #eeeeee;
      color: #6b6e73;
      transition: all 0.5s linear;

      &:hover {
        border-color: #b3adad;
      }
    }

    &.all-btn:focus,
    &.modal-btn:focus {
      outline: 1px solid #2772c7;
    }

    &.modal-btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__filter-label-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .clear-all-bar {
      display: none;
    }
  }

  &__filter-list {
    padding: 0 1rem 1rem 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 450px;
    margin-top: 30px;
  }

  &__filter-item {
    margin-bottom: 40px;

    h5 {
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 14px;
    }
  }

  &__sub-categories {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  &__form-check-input {
    display: none;
  }

  &__form-check-label {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #dfdfdf;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
    font-size: 13px;
    font-weight: 400;
    color: #000000;

    &.selected {
      border-radius: 0.5rem;
      border: 1px solid #0f7aed;
      background-color: #eaf0f8;
    }
  }

  &__selected-filters-container {
    overflow: hidden;
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 0.5rem;

    @media (min-width: 700px) {
      height: auto;
      margin-bottom: 0.75rem;
    }
  }

  &__filter-count {
    margin-left: 0.25rem;
    background-color: #2772c7;
    color: #ffff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 10px;
    padding: 2px;
    display: none;
    align-items: center;
    justify-content: center;
  }

  &__filter-pills {
    margin-bottom: 1rem;

    h5 {
      margin-top: 40px 0 20px;
      font-weight: 400;
      font-size: 0.75rem;
      color: #6b6e73;
    }
  }

  &__you-selected {
    display: flex;
    justify-content: space-between;
    h5 {
      font-size: 14px;
    }
  }

  &__filter-pills-heading {
    margin: 0.75rem 0 0 0;
    @media (min-width: 700px) {
      display: none;
    }
  }

  &__filter-show-more {
    text-align: center;
    outline: none;
    border: none;
    background: transparent;
    margin-bottom: 0.75rem;
    color: #2772c7;
    display: none;
    font-size: 12px;
  }

  &__tag {
    align-items: center;
    animation: fadeIn 1s ease;
    background: #eaf0f8;
    border: 1px solid #eaf0f8;
    border-radius: 16px;
    color: #2772c7;
    display: inline-flex;
    font-weight: 600;
    font-size: 14px;
    font-variant: tabular-nums;
    height: auto;
    box-sizing: border-box;
    line-height: 20px;
    list-style: none;
    margin: 8px 8px 0 0;
    opacity: 1;
    padding: 2px 10px;
    transition: all 0.3s;
    white-space: nowrap;
    position: relative;

    .ant-tag-close-icon {
      left: 4px;
      position: relative;
      top: 3px;
      color: rgba(0, 0, 0, 0.45);
      cursor: pointer;
      font-size: 10px;
      margin-left: 3px;
      transition: all 0.3s;
    }

    &.no-borer-tag {
      border: none;
      background-color: transparent;
      font-size: 12px;
      &:hover {
        cursor: pointer;
      }
    }

    &.clear_all {
      display: none;
      @media (min-width: 700px) {
        display: inline-flex;
      }
    }

    &.mobile-you-selected {
      display: none;
    }

    &.mobile-you-selected {
      font-size: 14px;
      font-size: 500;
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    padding: 25px 24px 32px 24px;
    gap: 14px;
    border-top: 1px solid #eeeeee;
  }

    /* Animation for modal opening */
    &__modal {
      display: none; /* Hidden by default */
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(25, 25, 25, 0.8); /* Black w/ opacity */
      justify-content: center;
      align-items: flex-end;
      opacity: 0;
      transition: opacity 0.4s; /* Smooth transition for opacity */
  
      @media (min-width: 700px) {
        align-items: center;
      }
  
      &.modal-show {
        display: flex;
        opacity: 1;
      }
  
      &.modal-hide {
        opacity: 0;
      }
    }
  
    &__modal-content {
      position: relative;
      background-color: #fefefe;
      border: 1px solid #888;
      width: 100%;
      max-width: 500px;
      transform: scale(0);
      transition: transform 0.4s; /* Smooth transition for transform */
      overflow: hidden;
      border-radius: 0.75rem;
  
      @media (min-width: 700px) {
        width: 440px;
      }
  
      &.modal-show {
        transform: scale(1);
      }
  
      &.modal-hide {
        transform: scale(0);
      }
    }
  
    &__modal-content-container {
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
  
    &__modal-header {
      border-bottom: 1px solid #eeeeee;
      padding: 10.45px 0;
      h4 {
        margin: 0;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
      }
    }
  
    &__filter-close-btn {
      color: #aaa;
      position: absolute;
      top: 10px;
      right: 18px;
      font-size: 28px;
      font-weight: bold;
      transition: all 1s linear;
      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
}

.sc-wi-search-results__no-results {
  &-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.show {
      opacity: 1;
    }

    &-wrapper {
      background: $color-white;
      padding: 40px 20px 85px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 6px;
    }

    &-svg {
      text-align: center;

      & img {
        height: 250px;
        width: auto;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }

    &-heading {
      font-weight: 400;
      font-size: 14px;
      line-height: 18.62px;
      color: $color-black;
    }

    &-message {
      font-weight: 400;
      font-size: 12px;
      line-height: 15.96px;
      color: #757575;
    }
  }
}

@media only screen and (max-width: 370px) {
  .sc-wi-search-results {
    &__articles {
      &-article {
        &-left {
          & img {
            min-width: 100% !important;
            height: auto !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .sc-wi-search-results {
    &__input-container {
      width: 80%;
    }

    &__articles {
      align-items: center;

      &-article {
        flex-direction: column;
        width: 100%;

        &-left {
          & img {
            min-width: unset !important;
            max-width: unset !important;
            width: 100% !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .sc-wi-search-results {
    &__popular {
      &-articles {
        display: flex;
        flex-direction: row;
        gap: 25px;
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
        padding-bottom: 12px;
        box-sizing: border-box;
        margin-top: 10px;

        &::-webkit-scrollbar {
          height: 15px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          visibility: visible;
        }

        &::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #555;
          visibility: visible;
        }
      }
    }

    &__vertical-separator {
      margin-bottom: 40px;

      div {
        border-top: 1px solid #cccbcb;
      }

    }

    &__more {
      margin: 0 auto;
      display: none;
    }
  }
}

@media only screen and (min-width: 993px) {
  .sc-wi-search-results {
    &__articles {
      &-block {
        flex-direction: row;
        gap: 40px;
      }
    }
  }

  .sc-wi-search-results__no-results {
    &.sc-wi-search-results__popular-articles {
      gap: 40px;

      & .sc-wi-search-results__popular-article {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
        position: absolute;
      }

      & .sc-wi-search-results__popular-article:nth-child(1),
      & .sc-wi-search-results__popular-article:nth-child(2) {
        display: flex;
        gap: 12px;
        max-height: 1000px;
        opacity: 1;
        padding: initial;
        margin: initial;
        position: relative;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .sc-wi-search-results {
    &__articles-list {
      padding: 0 32px 32px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sc-wi-search-results {
    &__articles-list {
      padding: 0 16px;
    }
  }
}
