@import 'colors.scss';

@font-face {
  font-family: SC Prosper Sans Variable;
  font-style: normal;
  font-display: swap;
  src: url(https://av.sc.com/assets/global/fonts/new/SCProsperSansVariable-VF.woff2) format('woff2'),
    url(https://av.sc.com/assets/global/fonts/new/SCProsperSansVariable-VF.woff) format('woff'),
    url(https://av.sc.com/assets/global/fonts/new/SCProsperSansVariable-VF.ttf) format('truetype');
}

.sc-wi-search-results {
  @include sc-sub-sup-fix;

  width: 100%;
  position: relative;
  background: #fafafa;
  font-family: SC Prosper Sans Variable;

  button,
  input,
  textarea {
    font-family: SC Prosper Sans Variable;
  }

  &__banner {
    height: 300px;
    position: relative;

    img {
      height: 300px;
      width: 100%;
    }
  }

  &__search-box {
    width: 100%;
    max-width: 1404px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__input-container {
    margin: 0 auto;
    background: $color-white;
    border-radius: 50px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.15);
    position: relative;
    width: 90%;
    transition: border-radius 0.5s ease, border-shadow 0.5s ease, border 0.5s ease;

    &.active {
      border-radius: 6px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      
    }
  }

  &__input {
    width: 100%;
    border: none;
    height: 45px;
    border-radius: 50px;
    padding: 0px 90px 0px 45px;
    font-size: 16px;
    font-weight: inherit;
    transition: border-radius 0.5s ease, padding-right 0.5s ease;

    &.active {
      padding-right: 120px;
      border-radius: 20px 20px 0 0;
      border-bottom: 1px solid $color-grey-light-2;
    }
  }

  &__input:focus {
    outline: none;
  }

  &__actions {
    justify-content: end;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: -43px;
  }

  &__clear {
    display: none;
    position: relative;
    top: 12.7px;
    right: -8px;
    height: 40px;
    cursor: pointer;
    color: $color-black;

    &.active {
      display: block;
    }

    & svg {
      background: $color-grey-light-13;
      border-radius: 50px;

      & path:first-child {
        fill: $color-white;
      }

      & path:last-child {
        fill: transparent;
      }
    }
  }

  &__button {
    margin: 1px 2px 0 0;
    border: none;
    height: 40px;
    padding: 0 20px;
    border-radius: 50px;
    background: $color-blue-16;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: display 0.5s ease;
  }

  &__prefix {
    position: absolute;
    border: none;
    background: none;
    top: 14px;
    left: 16px;
    padding: 0;

    & svg {
      height: 16px;
      width: 16px;
    }
  }

  &__result-suggestions {
    max-height: 0px;
    transition: max-height 0.4s ease;

    &.active {
      max-block-size: 200px;
      overflow-y: scroll;
      border-top: 1px solid #F8F8F8;
      position: relative;
      z-index: 99;
      margin-top: 3px;
    }

    & li {
      padding: 10px;
      transition: background-color 0.6s ease;

      &:hover {
        background-color: $color-grey-light-2;
      }

      & a {
        color: $color-black;
        white-space: pre-wrap;
      }
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 53.2px;
    text-align: center;
    color: $color-white;
  }

  &__result-counter {
    display: inline-block;
    transition: opacity 0.5s, transform 0.5s;
  }

  &__result-counter.updating {
    opacity: 0;
    transform: translateY(-10px);
  }

  &__highlight {
    background-color: #ffface;
  }

  &__articles {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-container {
      width: 100%;
    }

    &-main {
      display: flex;
      flex-direction: column;
      gap: 40px;

      // Max height given 5000px so that we can achieve best transition.
      max-height: 5000px;
      overflow: hidden;
      opacity: 1;
      transition: max-height 0.5s ease, opacity 0.5s ease;

      &.hidden {
        width: 0;
        max-height: 0;
        opacity: 0;
      }

      & h3 {
        margin: 0;
        font-weight: 600;
        font-size: 24px;
        line-height: 31.92px;
        color: #191919;
      }
    }

    &-list {
      width: 100%;
      max-width: 1404px;
      margin: 60px auto 0;
    }

    &-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-article {
      display: flex;
      flex-direction: row;
      gap: 24px;
      max-height: 700px;

      &-left {
        a {
          & img {
            min-width: 356px;
            max-width: 356px;
            height: 230px;
            border-radius: 5px;
          }
        }
      }

      &-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
      }

      &-body {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      &-tags {
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        row-gap: 15px;
        flex-wrap: wrap;

        & a {
          opacity: 1;
          color: #191919;
          transition: opacity 0.5s ease;

          &:hover {
            opacity: 0.7;
          }

          & span {
            background: #e8f3ec;
            min-height: 20px;
            padding: 4px 6px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 500;
            line-height: 15.96px;
            text-align: left;
            align-content: center;
          }
        }
      }

      &-title-and-meta {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      &-meta-data {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: #555;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.62px;
        text-align: left;
        flex-basis: 50%;
        flex-grow: 0;

        & span:nth-child(2) {
          content: ' ';
          border-right: 1px solid #555;
          height: 14px;
          margin: auto 0;
        }
      }

      &-footer {
        display: flex;
        flex-direction: row;
        gap: 107px;

        &-read-more {
          display: flex;
          flex-direction: row;
          align-items: center;

          & a {
            color: $color-blue-16;
            font-weight: 400;
          }
        }
      }
    }

    &-separator {
      border-top: 1px solid #cccbcb;
      width: 100%;
    }

    & h4 {
      font-size: 24px;
      font-weight: 600;
      line-height: 31.92px;
      text-align: left;
      margin: 0;

      & a {
        color: #191919;
      }
    }

    & p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      overflow: hidden;
    }
  }

  &__vertical-separator {
    border-left: 1px solid #cccbcb;
  }

  &__popular {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-articles {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &-article {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 251px;
      transition: max-height 0.5s ease-out, opacity 0.5s ease-out, padding 0.5s ease-out,
        margin 0.5s ease-out;
      max-height: 3000px;
      opacity: 1;
      padding: initial;
      margin: initial;
      background-color: $color-white;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 6px;

      & h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 21.28px;
        text-align: left;
        margin: 0;
        padding: 0 16px;

        & a {
          color: #191919;
        }
      }

      a {
        & img {
          width: 251px;
          height: 200px;
          object-fit: cover;
          border-top-right-radius: 24px;
          border-top-left-radius: 6px;
        }
      }

      &-footer {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: #555;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.62px;
        text-align: left;
        padding: 0 16px 24px 16px;

        & span:nth-child(2) {
          content: ' ';
          border-right: 1px solid #555;
          height: 12px;
          margin: 2px 0;
        }
      }
    }

    & h3 {
      margin: 0;
      font-weight: 600;
      font-size: 24px;
      line-height: 31.92px;
    }
  }

  &__campaing-article-footer {
    display: block;
    text-align: left;
    padding: 0 16px 24px 16px;

    p {
      margin-top: 0;
      font-size: 14px;
      margin-bottom: 16px;
      line-height: 18.62px;
    }

    a {
      font-size: 14px;
      font-weight: 500;
      color: #2772c7;
    }
  }

  &__date,
  &__read-time {
    color: #555;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.62px;
    text-align: left;
  }

  &__more {
    margin-top: 10px;
    border-radius: 50px;
    background: #2772c7;
    border: 1px solid #2772c7;
    color: #fff;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    width: 121px;
    align-content: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__pagination {
    margin: auto;
    padding: 40px 0 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;

    max-height: 300px;
    overflow: hidden;
    opacity: 1;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;

    &.hidden {
      width: 0;
      max-height: 0;
      opacity: 0;
      padding: 0;
    }

    &-prev,
    &-next {
      min-height: 34px;
      min-width: 38px;
      padding: 8px 7px 5px;
      border-radius: 8px;
      background: none;
      color: #000;
      border: none;
      cursor: pointer;

      &-inactive {
        color: #ccc !important;
        cursor: default !important;
      }
    }

    &-no-cursor {
      cursor: default !important;
    }

    &-number,
    &-separator {
      font-size: 13px;
      font-weight: 400;
      min-height: 34px;
      min-width: 34px;
      padding: 8px 5px 5px;
      border-radius: 8px;
      background: #fff;
      color: #000;
      border: 1px solid #f1f1f1;
      cursor: pointer;

      &-active {
        background: #2772c7;
        border: 1px solid #2772c7;
        color: #fff;
      }
    }

    &-separator {
      border: none;
    }
  }
}

.sc-wi-search-results__no-results {
  &-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.show {
      opacity: 1;
    }

    &-wrapper {
      background: $color-white;
      padding: 40px 20px 85px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 6px;
    }

    &-svg {
      text-align: center;

      & img {
        height: 250px;
        width: auto;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }

    &-heading {
      font-weight: 400;
      font-size: 14px;
      line-height: 18.62px;
      color: $color-black;
    }

    &-message {
      font-weight: 400;
      font-size: 12px;
      line-height: 15.96px;
      color: #757575;
    }
  }
}

@media only screen and (max-width: 370px) {
  .sc-wi-search-results {
    &__articles {
      &-article {
        &-left {
          & img {
            min-width: 100% !important;
            height: auto !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .sc-wi-search-results {
    &__input-container {
      width: 80%;
    }

    &__articles {
      align-items: center;

      &-main {
        padding: 0 16px;
      }

      &-article {
        flex-direction: column;
        width: 100%;
        // max-width: 361px;
        &-left {
          & img {
            min-width: unset !important;
            max-width: unset !important;
            width: 100% !important;
          }
        }
      }
    }

    &__popular {
      width: 95%;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 992px) {
  .sc-wi-search-results {
    &__popular {
      &-articles {
        display: flex;
        flex-direction: row;
        gap: 25px;
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
        padding-bottom: 12px;
        box-sizing: border-box;
        margin-top: 10px;

        &::-webkit-scrollbar {
          height: 15px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          visibility: visible;
        }

        &::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #555;
          visibility: visible;
        }
      }
    }

    &__vertical-separator {
      padding: 0 16px;
      margin-bottom: 40px;
      border-top: 1px solid #cccbcb;
    }

    &__more {
      margin: 0 auto;
      display: none;
    }
  }
}

@media only screen and (min-width: 993px) {
  .sc-wi-search-results {
    &__articles {
      &-block {
        flex-direction: row;
        gap: 40px;
      }
    }
  }

  .sc-wi-search-results__no-results {
    &.sc-wi-search-results__popular-articles {
      gap: 40px;

      & .sc-wi-search-results__popular-article {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
        position: absolute;
      }

      & .sc-wi-search-results__popular-article:nth-child(1),
      & .sc-wi-search-results__popular-article:nth-child(2) {
        display: flex;
        gap: 12px;
        max-height: 1000px;
        opacity: 1;
        padding: initial;
        margin: initial;
        position: relative;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .sc-wi-search-results {
    &__articles-list {
      padding: 0 32px 32px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sc-wi-search-results {
    &__articles-list {
      padding: 0 16px;
    }
  }
}
